
    <p>vous etes sur la hoùm</p>
    <form action="result" method="GET">
        <label for="text" ></label>
        <input type="text" name="city">
        <label for="date"></label>
        <input type="date" name="startdate">
        <BUtton>submit</BUtton>
    </form>

